  <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img src="../../../assets/fotoPerfil.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <p id="nombre">María Victoria Reyna</p>
      <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <span>
        <h1>Acerca de Mí</h1>
        <p>En la actualidad, soy profesora de Ciencias Naturales de nivel secundario. Siempre me interesó la computación y todo lo relacionado con ella. Situación que me permitió estudiar un curso introductorio de Robótica para aplicar en las escuelas e ir más allá y realizar cursos de programación impartidos por el Gobierno Nacional. Pienso que la competencias digitales son el futuro en la educación y que no puedo ser indiferente a ellas. Por ello, la programación es una gran puerta de entrada a la educación del siglo XXI y, por supuesto, un enorme desafió para carrera profesional.
        </p>
      </span>
    </div>
  </div>

